.flexbox-container {
  display: flex;
  padding: 5px;
  background-color: lightcyan;
}
.flexbox-item {
  padding: 5px;
  margin: 5px;
  background-color: orange;
}
#item01 {
  flex-basis: 150px;/*アイテムの幅の初期サイズを指定する*/
}
#item02 {
  flex-basis: 25px;
}
#item03 {
}
#item04 {
}
#item05 {
}
#item06 {
}
#item07 {
}
#item08 {
  flex-shrink: 2;/*アイテムの縮小係数（どれくらい縮むか）を指定*/
}